        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="data:image/webp;base64,UklGRrQBAABXRUJQVlA4TKcBAAAvXIAFEPdAmG1Uq/Mnu+cUBAJJ/qBrLBBIwtpfbIEAYcF/pAQJ/qNYAQMSbNuOUukesAsF2AcUuPOfZ0L0Fw4gov8ToP+5CyGEVttsger8Nw1A2MgBIPyqnrT+VccM/37Tucrt/2TDAdhXQPuTaqAJwHGtBhr1J2DXZI5ALelpe5biYs9PSffR9nhbi2/bUyxpgEo9QL+yB0JL/lh2t+3r7Oyg6Pwtc5udn69rOyBIB+BUtGe9+Wz26uDVObkuXp8vuRagl1qgOucOZE+hSg5Ft8R+xSWxlzgmvkl6215ijJPtMXcADpJUAyF3THZn6VwDVdE1c5cuSzJdpGcSpbtt3yRdZnu5JD1AmwSgLuok6QTQf/SSpFdyl3RJBmmw/VI62H4kR6BWeq6ApqBS2nwnJmOiNBmlyeVR0rkC9iFbA/uC+i+eX5q/EPi43dg7rt8lVZ8dNzTZHlTc8MV+O6PtuWwH7FVYAaftPGw7Zq6vm9QCNCUBqM6b0WTbc4xxsgdpD1Qq7QHCdq6LC5dLDxCKdADq7eg6FYyXQ9KXtQBhO9JjSN7xIgEA"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="./index.html">Homepage</a></li>
                            <li><a href="./categories.html">Categories</a></li>
                            <li><a href="./blog.html">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>
        </div>