    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/A.bootstrap.min.css+font-awesome.min.css+elegant-icons.css+plyr.css+nice-select.css+owl.carousel.min.css+slicknav.min.css+style.css,Mcc.DT6xbIN1Vz.css.pagespeed.cf.cqaYnfGGcG.css" type="text/css" />