<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!--<%- include('../partials/head'); %>-->
  </head>

  <body>
    <header class="header">
      <!--<%- include('../partials/header'); %>-->
    </header>
    <h1>Oi</h1>
    <footer class="footer">
      <!--<%- include('../partials/footer'); %>-->
    </footer>
  </body>
</html>